<div class="navbar bg-base-100 px-10">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">Climate Solutions</a>
  </div>
  <div class="navbar-center flex">
    <ul class="menu menu-horizontal px-1 gap-4">
      <li><a class="<%= (page == "/solutions/projects") ? 'active' : '' %>" href="/solutions/projects">View Projects</a></li>
      <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
    </ul>
  </div>
</div>
